.cancel-button,
.remove-button {
  background-color: #e0f7fa;
  color: #00796b;
  border: 1px solid #00796b;
  border-radius: 4px;
  padding: 8px 16px;
  text-transform: uppercase;
  transition: background-color 0.3s;

  &:hover {
    background-color: #b2dfdb;
  }
}

.remove-button {
  background-color: #f44336;
  color: white;

  &:hover {
    background-color: #d32f2f;
  }
}
