@use '@angular/material' as mat;
@use '@angular/material/core/theming/all-theme' as mat-theme;

$theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette
  )
));

body.theme {
  @include mat.all-component-themes($theme);
}

html {
  height: 100%;
}

body {
  font-family: 'Poppins', Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f9f9f9;
}

h3 {
  font-weight: 500;
}

.snack-bar-success {
  background-color: #4caf50;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}

.snack-bar-error {
  background-color: red;
  color: white;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
}




@include mat.core();
@include mat.color-variants-backwards-compatibility($theme);
